@charset "utf-8";
/* CSS Document */

#body{
    text-align:center;
    background-color:#F03;

}

#bloc_body{
    width:100%;
    height:auto;
    margin:auto; 
    background-color:#FFF;
}

#logominsante{
    width:300px;
    height:90px;
    margin-left:35%;
}

#banierre{
    width:100%;
    background-color:#FFF;
    text-shadow:#00F;
    color:#0F0;
    padding-top:2%;
    padding-bottom:2%;
    size:14px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    font-family:"Times New Roman", Times, serif;
}


#menu_gauche{
    width:25%;
    height:400px;
    background-color:#FFF;
    float:left;
    margin-right:1%;
    border-radius:10px 10px 10px 10px;
    box-shadow:2px 2px 2px 2px green;
    color:#000;
    font-weight:bold;
}

#center{
    width:50%;
    height:auto;
    background-color:#FFF;
    float:left;
    margin-left:-5%;
}

#center_dessus{
    width:100%;
}
#center_millieu{
    width:100%;
}

#center_dessous{
    width:100%;
    margin-top:60px;
}

#menu_droit{
    width:33%;
    height:400px;
    float:left;
    background-color:#FFF;
    border-radius:10px 10px 10px 10px;
    box-shadow:2px 2px 2px 2px green;
    color:#000;
    font-weight:bold;
}

#menu_gauche_cdmt{
    width:33%;
    height:200px;
    background-color:#FFF;
    border-radius:10px 10px 10px 10px;
    box-shadow:1.5px 1.5px 1.5px green;
    color:#000;
    margin-right:33%;
    display:none;
}

.div_img1{
    float:left; 
    margin-top:-45%;
    margin-left:-12%;
    border-radius:10px 10px 10px 10px;
}


.div_img11{
    float:left; 
    margin-top:-30%;
    margin-left:-12%;
    border-radius:10px 10px 10px 10px;
}

.div_img3{
    float:left;
    border-radius:10px 10px 10px 10px;
    margin-top:-55%;
    margin-left:-20%;   		
}

.div_img33{
    float:left;
    border-radius:10px 10px 10px 10px;
    margin-top:-30%;
    margin-left:-20%;   		
}

.div_img2{
    float:left; 
    margin-left:auto;
    margin-top:-30%;
    border-radius:10px 10px 10px 10px;
    margin-left:-15%;
}

.div_img2t{
    float:left; 
    margin-left:auto;
    margin-top:-50%;
    border-radius:10px 10px 10px 10px;
    margin-left:-15%;
}

.div_img22{
    float:left; 
    margin-left:auto;
    margin-top:-50%;
    border-radius:10px 10px 10px 10px;
    margin-left:-35%;
    display:block;
}

.div_img21{
    float:none; 
    border-radius:10px 10px 10px 10px;
}

.div_img5{
    float:left; 
    margin-top:-52%;
    margin-left:-12%;
    border-radius:10px 10px 10px 10px;
}

.div_img4{
    float:left;
    border-radius:10px 10px 10px 10px;
    margin-top:-57%;
    margin-left:-14%;
}

.img_logo{
    width:300px;
    height:250px;
}

.img_logo2{
     width:440px;
    height:200px;
}

.div_img2 img:hover {
    width:350px;
    height:300px;
    z-index:1000;
    margin-top:-25px;
    margin-left:-25px;

}

.div_img2t img:hover {
    width:350px;
    height:300px;
    z-index:1000;
    margin-top:-25px;
    margin-left:-25px;

}

.div_img1 img:hover {
    width:350px;
    height:300px;
    z-index:1000;
    margin-top:-25px;
    margin-left:-25px;
}

.div_img3 img:hover {
    width:350px;
    height:300px;
    z-index:1000;
    margin-top:-25px;
    margin-left:-25px;
}

.div_img33 img:hover {
    width:350px;
    height:300px;
    z-index:1000;
    margin-top:-25px;
    margin-left:-25px;
}

.div_img11 img:hover {
    width:350px;
    height:300px;
    z-index:1000;
    margin-top:-25px;
    margin-left:-25px;

}

.div_img4 img:hover {
    width:350px;
    height:300px;
    position:absolute;
    z-index:1000; 
    margin-top:-25px;
    margin-left:-25px;
}

.div_img5 img:hover {
    width:350px;
    height:300px;
    position:absolute;
    z-index:1000; 
    margin-top:-25px;
    margin-left:-25px;
}

li {
    list-style-type: none; /* on annule la puce par défaut */
    background-image:url(../cdmt/ressources/imagecdmt/ajouterfin.png);
    background-repeat: no-repeat; /* on annule la répétition par défaut */
    background-position: left center; /* on positionne où l'on veut */
    padding-left: 20px; /* pour éviter la superposition du contenu */
}

